[Interface]
Address = {{ client_vpn_ip }}
PrivateKey = {{ client_privatekey.content | b64decode | trim }}

{% for node in play_hosts %}
{% include 'peer_conf.j2' %}
PersistentKeepalive = 25
{% endfor %}

{% if wireguard_additional_peers %}
{% for node in wireguard_additional_peers %}
# {{ node.comment  }}
[Peer]
PublicKey = {{ node.key }}
AllowedIPs = {{ node.ip }}

{% endfor %}
{% endif %}
